@mixin flexbox(){
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

@mixin main-headings(){
	font-size: 30px;
	line-height: 1.2;
	color: $color-primary;
	display: block;
	width: 100%;
	text-align: center;
}

@mixin hide-contents(){
	overflow: hidden;
    overflow-y: hidden;
}

@mixin txt($size: 16px, $line-height: 1.5, $color: #333){
	font-size: $size;
	line-height: $line-height;
	color: $color;
}

@mixin for-icons(){
	content: "";
	display: block;
	position: absolute;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}